*{
    font-family: Arial, Helvetica, sans-serif;
}


button{
    height: 50px; /*size of box*/
    width: 200px;
    margin-top: 10px; /*spacing between buttons*/
    font-size: larger;
    border-radius: 10%; /*rounded edges*/
    display: block; /*stack buttons*/
    cursor:  pointer;/*hand cursor over buttons*/;
}

/*putting the buttons and images side-by-side*/
#boroughButtons{
    float: left;
}

#boroughImages{
    float: left;
    padding-left: 100px;
}

#imageToChange{
    height: 200px;
    width: 200px;
}